body {
    background-color: #010101;
}

/* main */
.logo {
    width: 144px;
    height: 55px;
    margin-top: 54px;
    margin-left: 50%;
    translate: -50%;
}

.heading1index {
    color: white;
    font-family: SPACER R;
    font-size: 24px;
    margin-bottom: -5px;
    text-align: center;
    margin-top: 48px;
}

.gunselect {
    width: 165px;
    height: 97px;

    transition: all ease-in-out 500ms;

}

.gunselect:hover {
    translate: 0px -20px;
}


.gunrow {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.gunselectbx {
    display: flex;
    flex-direction: column;
    gap: 43px;
    margin-top: 69px;
}



/* Guns */
.subtitle {
    color: white;
    font-family: SPACER R;
    font-size: 24px;
    margin-bottom: -10px;
}

.title {
    color: #FD4556;
    font-family: ASIX-FOUNDER;
    font-size: 32px;
}

.titlebx {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
    
}

.heading1 {
    color: #FD4556;
    font-family: SPACER R;
    font-size: 24px;
    margin-bottom: -5px;
}

.divider {
    height: 1px;
    width: 151px;
}

.headingbx {
    display: flex;
    flex-direction: column;
}

.infotitle {
    color: white;
    font-family: Geist Variable;
    font-weight: bold;
    font-size: 10px;
}

.colon {
    height: auto;
    width: 7px;
}

.info {
    color: white;
    font-family: Geist Variable;
    font-size: 10px;
}

.infobx {
    display: flex;
    gap: 5px;
}

.infolist {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.infocard {
    width: fit-content;
    height: fit-content;
}

.totalinfo {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.damage {
    color: #010101;
    font-family: SPACER R;
    font-size: 24px;
    background-color: #FD4556;
    text-align: center;
    height: 31px;
    width: 165px;
}

.range {
    color: #FD4556;
    font-family: SPACER R;
    font-size: 24px;
    background-color: white;
    text-align: center;
    height: 31px;
    width: 165px;
}

.rangebx {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 165px;
}

.totalrangebx {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    width: 161px;
    height: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.damagebx {
    display: flex;
    flex-direction: column;
}

.gun {
    height: 248px;
    width: 374px;
}

.midbx {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    margin-top: 55px;
    margin-left: 64px;
    margin-right: 64px;
}

.creds {
    color: white;
    font-family: SPACER R;
    font-size: 24px;
    border-style: solid;
    border-width: 2px;
    height: 42px;
    width: 102px;
    align-content: center;
    text-align: center;
}

.credsicon {
    width: 24px;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-left: 0px;
    border-color: white;
    padding: 9px;
}

.credsbx {
    display: flex;
    align-content: center;
}

.chevronleft {
    width: 20px;
    height: 20px;
}

.chevronright {
    width: 20px;
    height: 20px;
    rotate: 180deg;
}

.bottombx {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 45px;
}